<!DOCTYPE html>
<html>
<head>
    <title>Admin Update Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="admin-topbar">
    <h2>Admin Dashboard</h2>
</div>

<h2>Update Student</h2>

<div class="container">

<form method="POST">

    <label>Name</label>
    <input type="text" name="name" value="{{ student.name }}" required>

    <label>Mobile</label>
    <input type="text" name="mobile" value="{{ student.mobile }}" required>

    <label>Email</label>
    <input type="email" name="email" value="{{ student.email }}" required>

    <label>Course</label>
    <input type="text" name="course" value="{{ student.course }}" required>

    <input type="submit" value="Update Student">

</form>

</div>

<footer>
    <p>&copy; 2026 Focus Computers. All Rights Reserved.</p>
</footer>

</body>
</html>